/*---------------------------------*/
/* --- Seções e Responsividade --- */
/*---------------------------------*/

main { /* Estilos aplicados ao elemento principal "main" */
    padding-top: var(--space-xl); /* Espaçamento interno no topo e na base para que o conteúdo não fique colado no cabeçalho e no rodapé */
    padding-bottom: var(--space-xl);
}

section { 
    margin-bottom: var(--space-xxl); /* Espaçamento entre as seções para não ficarem coladas */
}

.welcome-section { /*Centraliza todo o texto e os elementos dentro da seção de boas-vindas*/
    text-align: center;
}

.welcome-section p { /*Estiliza o parágrafo <p> dentro da seção de boas-vindas*/
    font-size: var(--font-size-h4);
    color: var( --color-neutral-700);
    max-width: 48rem; /* Limita a largura máxima do parágrafo para melhorar a legibilidade em telas grandes */
    margin: var(--space-xs) auto var(--space-lg) auto; /*Define a margem superior (0.5rem), a margem da direita (auto), a margem inferior (2rem) e a margem da esquerda (auto). Como esquerda e direita é auto, vai centralizar*/
}

.about-section { /* Seção Sobre Nós (Nossa história). Cria um cartão branco com espaçamento interno, cantos arredondados e sombra sutil */
    background-color: var(--color-neutral-0);
    padding: var(--space-lg);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-md);
}

.about-section .grid { /*ativa o layout de colunas para organizar o texto e a imagem.*/
    display: grid;
    gap: var(--space-lg); /*define o espaço entre as colunas*/
    align-items: center;
}

.about-section p { /*aplica-se a todos os elementos <p> (parágrafos) que estão dentro de um elemento com a classe .about-section.*/
    margin-bottom: var(--space-sm); /*Adiciona um espaço de 1rem abaixo de cada parágrafo.*/
    color: var( --color-neutral-500); /* Define a cor do texto dos parágrafos como cinza médio */
}

.about-section img { /*Esta regra aplica-se a todos os elementos <img> (imagens) que estão dentro da seção .about-section*/
    border-radius: 0.5rem; /*Arredonda os cantos da imagem*/
    box-shadow: var(--box-shadow-md); /*Adiciona uma sombra sutil para dar profundidade*/
}


.cards-section .grid { /*Ativa o layout de grade para os cards de valores*/
    display: grid;
    gap: var(--space-lg);
}

.contact-section h2 {
    color: var(--color-neutraltxt-900);
}

.contact-section { /*Regra geral para a seção: Cria a seção com fundo amarelo principal e texto branco*/
    background-color: var(--color-secondary-base); /* Amarelo */
    color: var(--color-neutral-0); /* Texto dos cartões branco. O título continua preto pois há uma regra específica para ele em .section-title */
    padding: var(--space-lg);
    border-radius: 0.5rem;
}

.contact-section .grid { /*cria o layout de colunas para as caixas de contato*/
    display: grid;
    gap: var(--space-lg); 
    max-width: 48rem; /* Limita a largura máxima da seção de contato para melhorar a legibilidade em telas grandes */
    margin: auto; /* Centraliza a seção de contato horizontalmente */
}

/* --- Responsividade (Telas Maiores), sem ele o código em um desktop vai ficar parecendo mobile --- */
/* O código está escrito com uma abordagem mobile-first, por isso é necessário adicionar media queries para telas maiores */
@media (min-width: 768px) { /*@media significa que as regras dentro dela só serão aplicadas se a condição for verdadeira. Nesse caso, a condição é que a largura mínima da tela seja de 768 pixels. Ou seja, as regras dentro desse bloco só vão valer para telas de tablets e desktops, não para celulares*/
    .welcome-section h1 { 
        font-size: var(--font-size-h1); /*Aumenta o tamanho da fonte do título 1 para 3rem, para que ele tenha mais impacto em telas maiores.*/
    }
    .about-section .grid {
        grid-template-columns: repeat(2, 1fr); /*Muda o layout da seção sobre para uma grade de 2 colunas (repeat(2, 1fr)), colocando o texto e a imagem lado a lado.*/
    }
    .cards-section .grid {
        grid-template-columns: repeat(3, 1fr); /*Muda o layout para uma grade de 3 colunas, colocando os três cards de valores lado a lado.*/
    }
    .contact-section .grid {
        grid-template-columns: repeat(2, 1fr); /*Muda o layout para uma grade de 2 colunas, colocando as caixas de contato (E-mail e Telefone) lado a lado.*/
    }
}
