/* ---------------------------------- */
/* --- Base: Acessibilidade (a11y) --- */
/* ---------------------------------- */

/*
* [FOCO VISÍVEL]
* Define um "anel de foco" claro que (na maioria dos navegadores)
* só aparece para usuários de teclado (Tab), e não de mouse.
*/
:focus-visible {
    /* As variáveis do 'designsystem.css' funcionarão aqui */
    outline: 3px solid var(--color-primary-dark);
    outline-offset: 2px;
    box-shadow: 0 0 0 4px var(--color-neutral-0);
    border-radius: 2px;
    transition: none;   /* Foco deve ser instantâneo */
}

/*
* [FOCO PADRÃO]
* Remove o 'outline' padrão se o :focus-visible for suportado,
* para evitar que navegadores mostrem dois anéis.
*/
:focus:not(:focus-visible) {
    outline: none;
}