/*--------------------*/
/* --- Tipografia --- */
/*--------------------*/

h1 { /*estiliza o título <h1> que está dentro da seção de boas-vindas*/
    font-size: var(--font-size-h1); /*Aumenta o tamanho da fonte*/
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-900); /* cor preta/cinza muito escuro */
    margin-bottom: var( --space-sm); /* pequeno espaço abaixo do título, separando-o do parágrafo*/
    text-align: center; /* Centraliza o título horizontalmente */
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

p {
    font-size: var(--font-size-p);
}

.section-title { /* Classe reutilizável para os títulos das seções */
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    text-align: center;
    color: var(--color-neutral-900);
    margin-bottom: var(--space-lg);
}