/*-------------------------------------------*/
/* --- Especificidades da Página Membros --- */
/*-------------------------------------------*/

.grid-equipe {
    display: grid;
    grid-gap: var(--space-sm);
    grid-template-columns: 1fr;
    justify-items: center; /* Centraliza os itens dentro de cada célula da grade */
    margin: 0 auto;
}

.grid-equipe .bandmaster-member {
    grid-column: span 1;
}

.grid-equipe .board-member {
    grid-column: span 1;
}

.grid-equipe img {
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    box-shadow: var(--box-shadow-md); /* Adiciona uma sombra sutil */
    margin-bottom: var(--space-xs); /* Espaço entre a imagem e o nome */   
    border-radius: var(--border-radius-lg); /* Deixa a imagem circular */
    width: 200px;
    height: 200px;
}

.grid-equipe .team-member img {
    width: 175px;
    height: 175px;
}   

.container .team-section p { 
    font-size: var(--font-size-p);
    color: var(--color-neutral-500);
    text-align: center;
    margin: var(--space-xs) auto var(--space-lg) auto; /*Define a margem superior (0.5rem), a margem da direita (auto), a margem inferior (2rem) e a margem da esquerda (auto). Como esquerda e direita é auto, vai centralizar*/
} 

.container .team-section h2 { 
    font-size: var(--font-size-h4);
    color: var(--color-neutral-500);
    text-align: center;
    margin: var(--space-xs) auto var(--space-lg) auto; /*Define a margem superior (0.5rem), a margem da direita (auto), a margem inferior (2rem) e a margem da esquerda (auto). Como esquerda e direita é auto, vai centralizar*/
} 


/* --- Breakpoints Responsivos para página da equipe (Mínimo de 5) --- */
@media (min-width: 576px) {
.grid-equipe {
    grid-template-columns: repeat(2, 1fr);     
}
.grid-equipe .bandmaster-member {
    grid-column: span 2;
}
.grid-equipe .board-member {
    grid-column: span 2;
}
.grid-equipe .team-member img {
    width: 175px;
    height: 175px;
}
}

@media (min-width: 768px) {
.grid-equipe {
    grid-template-columns: repeat(3, 1fr);     
}
.grid-equipe .bandmaster-member {
    grid-column: span 3;
}
.grid-equipe .board-member {
    grid-column: span 1;
}
.grid-equipe .team-member img {
    width: 175px;
    height: 175px;
}
}

@media (min-width: 1000px) {
.grid-equipe {
    grid-template-columns: repeat(4, 1fr);     
}
.grid-equipe .bandmaster-member {
    grid-column: span 2;

}
.grid-equipe .board-member {
    grid-column: span 2;
}
.grid-equipe .team-member {
    grid-column: span 1;

}
.grid-equipe .team-member img {
    width: 175px;
    height: 175px;
}
}

@media (min-width: 1200px) {
.grid-equipe {
    grid-template-columns: repeat(6, 1fr);     
}
.grid-equipe .bandmaster-member {
    grid-column: span 6;
}
.grid-equipe .board-member {
    grid-column: span 2;
}
.grid-equipe .team-member img {
    width: 150px;
    height: 150px;
}
}

@media (min-width: 1400px) {
.grid-equipe {
    grid-template-columns: repeat(12, 1fr); /* Cria uma grade com 12 colunas de largura igual */
}    
.grid-equipe .bandmaster-member {
    grid-column: span 12; /* O maestro ocupa todas as 12 colunas */
}
.grid-equipe .board-member {
    grid-column: span 4; /* Cada membro da administração ocupa 4 colunas, resultando em 3 membros em uma linha */
}
.grid-equipe .team-member img { /*mais específico para as imagens dos membros da equipe*/
    max-width: 75px;
    max-height: 75px;
}
}
